# NPM dependencies
node_modules/

# Vite build output
dist/

# Frontend production environment variables
.env.production

# Uncompressed Jupyter notebook HTML files
public/exploration.html
public/improving.html
